$font: "IBM Plex Mono", monospace;

$color-sea: #00ffd8;
$color-blue: #1400ff;
$color-navy: #010b43;
$color-white: #ffffff;
$color-raspberry: #ff0062;

$theme: $color-navy;
$accent: $color-raspberry;

$body-background: $color-white;
$body-text: $theme;
$lead-color: $theme;
$line: $accent;

$aside-background: $theme;
$aside-color: $accent;
$aside-link: $color-white;
