@mixin pseudo($beforeAfter: before, $relativeToParent: true) {
  @if ($beforeAfter == before or $beforeAfter == after) {
    @if $relativeToParent {
      position: relative;
    }

    &::#{$beforeAfter} {
      content: "";
      position: absolute;
      @content;
    }
  } @else {
    @warn '`#{$beforeAfter}` - to nie poprawna wartosc, dopuszczalne wartosci to "before" lub "after"';
  }
}

@mixin resetLastMargin {
  &:last-of-type {
    margin-bottom: 0;
  }
}

@mixin col-auto {
  flex-shrink: 0;
  flex-basis: auto;
  width: auto;
  max-width: none;
}

@mixin flex {
  display: flex;
  width: 100%;
}

@mixin grid {
  display: grid;
  width: 100%;
}

@mixin line {
  line-height: 1;

  @include pseudo {
    display: block;
    width: 100%;
    height: var(--line-height);
    background: var(--line);
    left: 0;
    bottom: 0;
    z-index: -1;
  }
}
