* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 1.5em;

  &:last-of-type {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;
}

img,
svg {
  display: block;
  max-width: 100%;
}
