include ./utilities/utilities.pug

doctype html
html(lang="pl" class="no-js")
  include ./parts/head.pug
  meta(name="robots" content="noindex,nofollow")

  body
    .content
      .page
        .page__title
          h1
            span.lead portfolio
        .page__desc
          p Lista realizacji, wykonanych w&nbsp;ramach współpracy z&nbsp;firmami, w&nbsp;których byłem zatrudniony +&nbsp;własne rozwijające zainteresowania.
          p
            a(href="assets/pawel-malok_front-end-developer.pdf" class="btn btn--primary btn--xl" target="_blank" id="resume") Zobacz moje CV

        .portfolio
          .portfolio__categories
          .portfolio__pages

      include ./parts/aside.pug

    script(src="assets/js/portfolio.js")
    include ./parts/footer.pug
    script.
      document.getElementById('resume').addEventListener('click', () => {
        gtag('event', 'click', {
        event_category: 'resume',
        event_label: 'open'
        });
      });
